In [1]:
import pandas as pd

In [81]:
df = pd.read_csv("BIGDAAATA.csv")
df.head()

,hometown,majors,name,paragraph,year
0,NaN,International Studies (General),NaN,"Hometown: Honolulu, HI and Mercer Island, WA",2017
1,"Hometown: Seattle, WA","Biochemistry; Biology (Molecular, Cellular &am...",Rachel Boccamazzo,NaN,2017
2,"Hometown: Duluth, MN",Nursing,Sara DeRosier,NaN,2017
3,NaN,Drama; Sociology,NaN,"Hometown: Vancouver, WA",2017
4,"Hometown: Spokane Valley, WA","Biology (Molecular, Cellular &amp; Develop), I...",Hailee Herbst,NaN,2017

In [82]:
set(df.majors.tolist())

{'Aeronautics and Astronautics',
 'American Ethnic Studies; Sociology',
 'American Indian Studies',
 'Anthropology',
 'Anthropology; Public Health',
 'Aquatic &amp; Fishery Sciences',
 'Aquatic and Fishery Science',
 'Architecture',
 'Art (Photomedia)',
 'Art History',
 'Art History;\xc2\xa0Comparative History of Ideas',
 'Atmospheric Sciences',
 'Atmospheric Sciences; Comparative History of Ideas',
 'Biochemistry',
 'Biochemistry &amp; Biology',
 'Biochemistry and Anthropology',
 'Biochemistry; Applied Math and Computational Science',
 'Biochemistry; Biology (Molecular, Cellular &amp; Develop), Departmental Honors',
 'Bioengineering',
 'Biology',
 'Biology (Molecular, Cellular &amp; Develop), Interdisciplinary Honors',
 'Biology; Mathmatics',
 'Biology; Public Health',
 'Botany',
 'Botany; Anthropology',
 'Business Administration, Finance',
 'Civil and Environmental Engineering',
 'Communications',
 'Communications; Political Science',
 'Comparative History of Ideas',
 'Comparative History of Ideas; American Ethnic Studies',
 'Comparative History of Ideas; Journalism',
 'Comparative Literature',
 'Comparative Literature; Comparative History of Ideas',
 'Computer Science',
 'Computer Science;\xc2\xa0Electrical Engineering',
 'Drama',
 'Drama; Sociology',
 'Economics',
 'Economics; Cellular, Molecular and Developmental Biology',
 'Economics; Political Science',
 'Electrical Engineering',
 'Electrical Engineering &amp; Philosophy',
 'English',
 'English, College Honors',
 'English; Anthropology; Comparative History of Ideas',
 'English; Comparative History of Ideas',
 'English; French Literature',
 'English; Philosophy; Neurobiology',
 'English; Political Science',
 'Environmental Science',
 'Environmental Science and Resource Management',
 'Environmental Studies',
 'French; International Studies',
 'French; Microbiology',
 'Geography',
 'Germanics; Human Rights',
 'Graphic Design',
 'History',
 'History; International Studies',
 'History; Music (Jazz Studies), Departmental Honors',
 'Human Geography; Comparative History of Ideas',
 'International Studies',
 'International Studies (General)',
 'International Studies; Asian Languages and Literature',
 'International Studies; Communications (Journalism)',
 'International Studies; Comparative History of Ideas',
 'International Studies; Economics',
 'Law, Societies, and Justice',
 'Law, Society and Justice; Women Studies',
 'Math; Anthropology',
 'Mathematics',
 'Mathematics; Physics',
 'Mathmatics',
 'Mechanical Engineering',
 'Microbiology; Sociology',
 'Music and Composition',
 'Neurobiology',
 'Neurobiology;',
 'Neurobiology; English',
 'Neurobiology; International Studies',
 'Nursing',
 'Nursing, UW Bothell',
 'Philosophy; Russian Language Literature and Culture',
 'Physics',
 'Physics; Japanese',
 'Physics; Russian Literature and Language',
 'Political Economy; Law, Society and Justice',
 'Political Science',
 'Political Science; History',
 'Psychology',
 'Public Health',
 'Public Health, Departmental Honors',
 'Public Health; Anthropology',
 'Scandinavian Area Studies; Economics',
 'Social Welfare; Anthropology',
 'Sociology',
 'Sociology, College Honors',
 'Spanish',
 'Sustainable Urban Development, UW Tacoma',
 'Unidentified',
 'Women Studies; International Studies',
 'Zoology'}

In [83]:
def getcleandept(dept):
    removeterms = ['(Photomedia)','Interdisciplinary','Develop),','UW','Bothell','Departmental','Honors','College','Tacoma','(General)','(Journalism)','(Jazz Studies)']
    if dept.endswith(";"):
        dept = dept.rstrip(";")
    dept = dept.replace('&amp',"")
    dept = dept.replace('\xc2\xa0',"")
    dept = ' '.join([i for i in dept.split() if i not in removeterms]).strip()
    if ";" in dept:
        depts = dept.split(";")
    else:
        depts = [dept]
    finaldepts = []
    
    if depts == ['Aquatic ', ' Fishery Sciences']:
        depts = ['Aquatic and Fishery Science']
    elif depts == ['Biochemistry and Anthropology']:
        depts = ['Biochemistry','Anthropology']
    
    for tmpdept in depts:
        if tmpdept.endswith(","):
            tmpdept = tmpdept.rstrip(',')
        
        #remove trailing whitespaces
        tmpdept = tmpdept.strip()
        
        #dealing with spellings
        if tmpdept == 'Mathmatics' or tmpdept == 'Mathmatics' or tmpdept=="Math":
            tmpdept = "Mathematics"
        elif tmpdept == 'Applied Math and Computational Science':
            tmpdept = "Applied Mathematics"
        elif 'Music' in tmpdept:
            tmpdept = 'Music'
        
        #dealing with multiple mentions of dept
        if "Biology" in tmpdept:
            tmpdept = "Biology"
        elif tmpdept == 'Law, Societies, and Justice':
            tmpdept = 'Law, Society and Justice'
        
        
        if tmpdept !='':
            if tmpdept == 'Mathmatics':
                print depts
            finaldepts.append(tmpdept)
    return finaldepts

In [84]:
finalcleandepts = []
for dept in df.majors.tolist():
    finalcleandepts.append(getcleandept(dept))

In [85]:
uniquedepts = set()
for depts in finalcleandepts:
    for tmpdept in depts:
        uniquedepts.add(tmpdept)

In [86]:
len(uniquedepts)

62

In [87]:
df['cleandepts'] = finalcleandepts
df.to_csv("CLEANDATA.csv")

In [88]:
df.head()

,hometown,majors,name,paragraph,year,cleandepts
0,NaN,International Studies (General),NaN,"Hometown: Honolulu, HI and Mercer Island, WA",2017,[International Studies]
1,"Hometown: Seattle, WA","Biochemistry; Biology (Molecular, Cellular &am...",Rachel Boccamazzo,NaN,2017,"[Biochemistry, Biology]"
2,"Hometown: Duluth, MN",Nursing,Sara DeRosier,NaN,2017,[Nursing]
3,NaN,Drama; Sociology,NaN,"Hometown: Vancouver, WA",2017,"[Drama, Sociology]"
4,"Hometown: Spokane Valley, WA","Biology (Molecular, Cellular &amp; Develop), I...",Hailee Herbst,NaN,2017,[Biology]